<?xml version="1.0" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <%= stylesheet_link_tag 'screen' %>
  	  	
    <title>baseline</title>	
  </head>

  <body>

    <%= yield %>
    
    <%- if RAILS_ENV == 'development' -%>
      <div>
        <%= link_to("#{ActionMailer::Base.deliveries.size} Emails", deliveries_path) %>
      </div>
      <ul>
        <%- flash.each do |key,msg| -%>
          <li><%= "#{key}: #{msg}" %></li>
        <%- end -%>
      </ul>
    <%- end -%>
  
  </body>
</html>
